params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

process {
    withName: 'SNIFFLES' {
        ext.args   = { "--minsupport 1 --sample-id ${meta.id}" }
        ext.prefix = { "${meta.id}" }
    }

    withName: 'SNIFFLES_TRIO' {
        ext.prefix = { "${meta.id}_trio" }
    }
}
