params {
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    sequencing_platform          = 'ont'
    clair3_model                 = 'ont'
    filter_pass_snv              = false
    deepvariant_runtime_report   = false
}

process {
    withName: 'CALL:SNV:CLAIR3' {
        container = "community.wave.seqera.io/library/clair3:1.2.0--b1b03d4e9d1b6a2e"
        ext.args  = {
            def args_list = [
                "--sample_name=${meta.id}",
                '--gvcf',
                "--min_mq=10",
                '--longphase=/opt/conda/bin/longphase',
                '--use_longphase_for_final_output_phasing'
            ]
            args_list.join(' ').trim()
        }
        ext.prefix = { "${meta.id}_" }
    }

    withName: 'CALL_SNV:CLAIR3_FIX' {
        container = "community.wave.seqera.io/library/bcftools_pip_confargparse:4f3c18aa8341a070"
    }

    withName: 'CALL_SNV:BCFTOOLS_FILTER_CLAIR3' {
        container = "community.wave.seqera.io/library/bcftools_htslib:0a3fa2654b52006f"
        ext.args  = { "--threads ${task.cpus} -f PASS -Oz --write-index=tbi" }
    }
}
