params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    spectre_metadata           = "https://raw.githubusercontent.com/nanoporetech/ont-spectre/master/spectre/data/hg38_metadata.mdr"
    spectre_blacklist          = "https://raw.githubusercontent.com/nanoporetech/ont-spectre/master/spectre/data/hg38_blacklist_v1.0.bed"
    hificnv_exclude_bed        = null
    hificnv_expected_cn_bed    = null
    filter_targets             = false
}

aws {
    client {
        anonymous = true
    }
}

process {
    withName: 'CALL_CNV:HIFICNV' {
        ext.args = '--cov-regex "."'
    }

    withName: 'CALL_CNV:SPECTRE_CNVCALLER' {
        container = "community.wave.seqera.io/library/ont-spectre:0.3.2--adfae189059be3d9"
        ext.args  = { "--sample-id=${meta.id}" }
    }

    withName: 'CALL_CNV:BCFTOOLS_SORT_SPECTRE' {
        ext.prefix = { "${meta.id}.wf_cnv" }
        ext.args   = '-Oz --write-index=tbi'
    }
}
