params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

process {
    withName: 'JOINT_GENOTYPE_SNV:GLNEXUS' {
        ext.prefix = { "${meta.id}" }
        ext.args   = '--config DeepVariant'
    }

    withName: 'JOINT_GENOTYPE_SNV:BCFTOOLS_INDEX_GLNEXUS' {
        ext.prefix = { "${meta.id}" }
    }

    withName: 'JOINT_GENOTYPE_SNV:BCFTOOLS_VIEW_GLNEXUS' {
        ext.prefix = { "${meta.id}" }
        ext.args   = '--output-type z'
    }
}
