/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${meta.id}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: true
    ]

    withName: 'CREATE_PEDIGREE_FILE' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/pedigree_file" },
            mode: 'copy'
        ]
    }
    withName: 'SAMTOOLS_FASTQ' {
        ext.args = '-T MM,ML,mv --threads 8'
        cpus = 4
        publishDir = [
            pattern: '*_other.fastq.gz',
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/fastq_files" }
        ]
    }

    withName: 'SAMTOOLS_MERGE' {
        ext.args = '--threads 8'
        cpus = 4
        publishDir = [
            path: { "${params.outdir}/${meta.id}/unmapped_bam" },
            mode: 'copy'
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        ext.args = '--threads 10'
        cpus = 4
        publishDir = [
            path: { "${params.outdir}/${meta.id}/unmapped_bam" },
            mode: 'copy'
        ]
    }


    withName: 'SAMTOOLS_VIEW' {
        ext.args = {
            def bed_arg = params.filter_targets ? "-L ${params.targets_bed}" : ""
            def flag_filter = ""
            return [bed_arg, flag_filter].findAll().join(' ')
        }
        ext.prefix = { "${meta.id}.filtered" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/filtered_bam" },
            mode: 'copy'
        ]
        cpus = 4
    }


    withName: 'CAT_FASTQ' {
        cpus = 4
        publishDir = [
            mode: 'copy',
            path: { "${params.outdir}/${meta.id}/fastq_files" }
        ]
    }

    withName: 'MINIMAP2_INDEX' {
        cpus = 8
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mapped_bam" },
            mode: 'copy'
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
    ext.args = {
        def presets = [
            ont: 'map-ont',
            hifi: 'map-hifi',
            pacbio: 'map-pb'
        ]
        def preset = params.minimap2_model ?: (presets[params.sequencing_platform] ?: 'map-ont')
        "-Y -y -ax ${preset} -R '@RG\\tID:${meta.id}\\tSM:${meta.id}\\tPL:${params.sequencing_platform.toUpperCase()}'"
    }

    publishDir = [
        path: { "${params.outdir}/${meta.id}/mapped_bam" },
        mode: 'copy'
    ]
    }

    withName: 'WINNOWMAP_ALIGN' {
        ext.args = {
            def presets = [
                ont: 'map-ont',
                pacbio: 'map-pb',
                hifi: 'map-pb'
                ]

                // Use manual model if provided, otherwise use platform-based preset

                def preset = params.winnowmap_model ?: (presets[params.sequencing_platform] ?: 'map-ont')
                "-ax ${preset}"
                }

                publishDir = [
                    path: { "${params.outdir}/${meta.id}/mapped_bam" },
                    mode: 'copy'
                    ]

                    }


    withName: 'NANOPLOT' {
        ext.args = '--alength -t 32 --huge'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/nanoplot_qc" },
            mode: 'copy'
        ]
    }

    withName: 'SAMTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bam_stats" },
            mode: 'copy'
        ]
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bam_stats" },
            mode: 'copy'
        ]
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bam_stats" },
            mode: 'copy'
        ]
    }

    withName: 'MOSDEPTH' {
        ext.args = '--by 1000'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mosdepth" },
            mode: 'copy'
        ]
    }

    withName: 'MULTIQC_MOSDEPTH' {
        ext.prefix = { "${meta.id}_multiqc" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/multiqc_mosdepth" },
            mode: 'copy'
        ]
    }
    withName: 'MOSDEPTH_COV' {
        ext.args = '-n --quantize 0:1:10:30:'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/mosdepth" },
            mode: 'copy'
        ]
    }

    withName: 'MODKIT_PILEUP' {
        // ext.args = '--bedgraph'
        ext.prefix = { "${meta.id}_methyl" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/methyl" },
            mode: 'copy'
        ]
    }

    withName: 'MODKIT_PILEUP_CPG' {
        ext.args = '--cpg'
        ext.prefix = { "${meta.id}_cpg.methyl" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/methyl" },
            mode: 'copy'
        ]
    }
    withName: 'MODKIT_BEDGRAPH' {
        ext.args = '--bedgraph'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/methyl_bedgraph" },
            mode: 'copy'
        ]
    }

    withName: 'MODKIT_BEDGRAPH_CPG' {
        ext.args = '--cpg --bedgraph'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/methyl_bedgraph" },
            mode: 'copy'
        ]
    }

    withName: 'SVIM_ALIGNMENT' {
        ext.prefix = { "${meta.id}_svim" }
        ext.args = { "--min_mapq=${params.svim_min_mapq} --sample=${meta.id} --tandem_duplications_as_insertions --interspersed_duplications_as_insertions" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BCFTOOLS_FILTER_SVIM' {
        ext.prefix = { "${meta.id}_svim_filtered" }
        ext.args = { "-i 'SUPPORT >=2'" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BCFTOOLS_SORT_SVIM' {
        ext.prefix = { "${meta.id}_svim_final" }
        ext.args = '-Oz --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/svim" },
            mode: 'copy'
        ]
    }

    withName: 'CUTESV' {
        ext.prefix = { "${meta.id}_cutesv" }
        ext.args = { "--min_mapq=${params.svim_min_mapq} --genotype --sample=${meta.id}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'RE2SUPPORT' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BCFTOOLS_SORT_CUTESV' {
        ext.prefix = { "${meta.id}_cutesv_final" }
        ext.args = '-Oz'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cutesv" },
            mode: 'copy'
        ]
    }

    withName: 'TABIX_CUTESV' {
        ext.prefix = { "${meta.id}_cutesv_final" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cutesv" },
            mode: 'copy'
        ]
    }

    withName: 'DYSGU_RUN' {
        ext.prefix = { "${meta.id}_dysgu" }
        ext.args =  "--mode nanopore-r10"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/dysgu" },
            mode: 'copy'
        ]
    }

    withName: 'DELLY_CALL' {
        ext.prefix = { "${meta.id}_delly" }
        ext.args =  "-y ont"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/delly" },
            mode: 'copy'
        ]
    }

    withName: 'SEVERUS' {
        ext.prefix = { "${meta.id}_severus" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'TABIX_SEVERUS' {
        ext.prefix = { "${meta.id}_severus" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/severus" },
            mode: 'copy'
        ]
    }

    withName: 'KLED' {
        ext.prefix = { "${meta.id}_kled" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'TABIX_KLED' {
        ext.prefix = { "${meta.id}_kled" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/kled" },
            mode: 'copy'
        ]
    }

    withName: 'SNIFFLES' {
        ext.args = {
            def args = [
                "--mapq=${params.sniffles_min_mapq}",
                "--sample-id=${meta.id}"
            ]
            if (params.haplotag_bam) {
                args.add("--phase")
            }
            args.join(' ')
        }
        ext.prefix = { "${meta.id}_sniffles" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/sniffles" },
            mode: 'copy'
        ]
        }

    // Filter by coverage

    withName: 'BCFTOOLS_FILTER_SV' {
        ext.prefix = { "${meta.id}.${meta.caller}.filtered" }
        ext.args = '--threads 10 -f PASS -Oz --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/filtered_pass_sv" },
            mode: 'copy'
        ]
    }

    withName: 'DOWNSAMPLE_SV' {
        ext.prefix = { "${meta.id}.${meta.caller}.downsampled" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/downsampled_sv" },
            mode: 'copy'
        ]
    }

    withName: 'GUNZIP_CUTESV' {
        ext.prefix = { "${meta.id}_cutesv" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'GUNZIP_SVIM' {
        ext.prefix = { "${meta.id}_svim" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'GUNZIP_DYSGU' {
        ext.prefix = { "${meta.id}_dysgu" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'GUNZIP_DELLY' {
        ext.prefix = { "${meta.id}_delly" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'GUNZIP_SEVERUS' {
        ext.prefix = { "${meta.id}_severus" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'GUNZIP_KLED' {
        ext.prefix = { "${meta.id}_kled" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'JASMINESV' {
        ext.args = {"min_support=${params.min_caller_support} --output_genotypes --keep_var_ids"}
        ext.prefix = { "${meta.id}_merged" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BCFTOOLS_SORT_JASMINE' {
        ext.args = '-Oz --write-index=tbi'  // Compress and create .tbi index
        ext.prefix = { "${meta.id}_sorted" }
        publishDir = [
            enabled: false
        ]
    }

    // Extract single sample (uncompressed for further processing)
    withName: 'BCFTOOLS_VIEW_JASMINE' {
        ext.args = { "-s \$(bcftools query -l ${vcf} | head -1) -Oz --write-index=tbi" }  // Uncompressed output
        ext.prefix = { "${meta.id}_normalize" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'FIX_HEADER_JASMINE' {
    publishDir = [
        enabled: false  // Don't publish intermediate files
    ]
    }

    // Reheader (uncompressed)
    withName: 'BCFTOOLS_REHEADER_JASMINE' {
        ext.prefix = { "${meta.id}.final" }
        // ext.args = '-s <(echo "${meta.id}")'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/merged_sv" },
            mode: 'copy'
        ]
    }

    withName: 'TABIX_JASMINE' {
        ext.prefix = { "${meta.id}.final" }
        ext.args = '-f -p vcf'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/merged_sv" },
            mode: 'copy'
        ]
    }

    // Re-genotyping (such as Kanpig)
    withName: 'CLEAN_MERGED_SV' {
    ext.prefix = { "${meta.id}_cleaned" }
    ext.suffix = 'vcf'
    publishDir = [
        enabled: false  // Don't publish intermediate files
        ]
    }

    withName: 'GENOTYPE_MERGED_SV' {
    ext.args = { "-v sample_name=${meta.id} -v callers_str=cutesv,dysgu,sniffles,svim" }
    publishDir = [
        enabled: false  // Don't publish intermediate files
        ]
    }

    withName: 'BCFTOOLS_SORT_GENOTYPED' {
        ext.prefix = { "${meta.id}_genotyped" }
        ext.args = "--output-type z --write-index=tbi"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/merged_sv" },
            mode: 'copy'
        ]
    }

    withName: 'SVANNA_PRIORITIZE' {
        ext.prefix = { "${meta.id}_svanna" }
        ext.output_format = params.output_format
        publishDir = [
            path: { "${params.outdir}/${meta.id}/svanna" },
            mode: 'copy'
        ]
    }

    withName: 'SNIFFLES_GENERATE_PLOTS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/sniffles" },
            mode: 'copy'
        ]
    }

    withName: 'GUNZIP_SNIFFLES_PLOT' {
        ext.prefix = { "${meta.id}_sniffles" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'CLAIR3' {
    ext.args = {
        def args_list = [
            "--sample_name=${meta.id}",
            '--gvcf',
            "--min_mq=${params.clair3_min_mq}",
            '--longphase=/opt/conda/bin/longphase',
            '--use_longphase_for_final_output_phasing'
        ]

        return args_list.join(' ').trim()
    }
    ext.prefix = { "${meta.id}_" }
    publishDir = [
        path: { "${params.outdir}/${meta.id}/clair3" },
        mode: 'copy'
    ]

    }

    withName: 'SNPEFF_DOWNLOAD' {
        publishDir = [
            path: { "${params.outdir}/snpeff_db" },
            mode: 'copy'
        ]
    }

    withName: 'SNPEFF_SNPEFF' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/annotate_snv" },
            mode: 'copy'
        ]
    }

    withName: 'SNPEFF_DOWNLOAD_UNIFIED' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SNPEFF_UNIFIED' {
        ext.prefix = { "${meta.id}_annotated" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/unify_vcf" },
            mode: 'copy'
        ]
    }

    withName: 'BCFTOOLS_FILTER_CLAIR3' {
        ext.prefix = { "${meta.id}_clair3_filtered" }
        ext.args = '--threads 10 -f PASS -Oz --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/clair3" },
            mode: 'copy'
        ]
    }

    withName: 'CLAIR3_FIX' {
        ext.prefix = { "${meta.id}_clair3_fixed" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/clair3" },
            mode: 'copy'
        ]
    }


    withName: 'GLNEXUS' {
        ext.prefix = { "${meta.id}_glnexus" }
        ext.args = '--threads 10 --trim-uncalled-alleles'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/glnexus" },
            mode: 'copy'
        ]
    }

    withName: 'RTG_FORMAT' {
        ext.prefix = { "${meta.id}_rtg" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/rtg_sdf" },
            mode: 'copy'
        ]
    }

    withName: 'RTG_MENDELIAN' {
        ext.prefix = { "${meta.id}_mendelian" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/rtg_mendelian_${meta.variant_type}" },
            mode: 'copy'
        ]
    }

    withName: 'RTG_NONMENDELIAN' {
        ext.prefix = { "${meta.id}_violations" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/rtg_violations_${meta.variant_type}" },
            mode: 'copy'
        ]
    }

    withName: 'DEEPVARIANT_RUNDEEPVARIANT' {
    ext.args = {
        def model_types = [
            ont: 'ONT_R104',
            hifi: 'PACBIO',
            pacbio: 'PACBIO',
        ]
        def model_type = model_types[params.sequencing_platform] ?: 'ONT_R104'

        def regions_arg = ""
        if (params.deepvariant_regions) {
            regions_arg = "--regions=${params.deepvariant_regions}"
        }

        return [
            "--model_type=${model_type}",
            "--sample_name=${meta.id}",
            regions_arg,
            "--make_examples_extra_args=${params.deepvariant_make_examples_extra_args}"
        ].findAll { it }.join(' ').trim()
    }
    }

    withName: 'DEEPVARIANT_VCFSTATSREPORT'{
        ext.prefix = { "${meta.id}_deepvariant" }
        publishDir = [
        path: { "${params.outdir}/${meta.id}/deepvariant/report" },
        mode: 'copy'
    ]
    }

    withName: 'BCFTOOLS_FILTER_DEEPVARIANT' {
        ext.prefix = { "${meta.id}_deepvariant_filtered" }
        ext.args = '--threads 10 -f PASS -Oz --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/deepvariant" },
            mode: 'copy'
        ]
    }

    withName: 'SNIFFLES_UNPHASED' {
        ext.args = {"--mapq=${params.sniffles_min_mapq} --sample-id=${meta.id}"}
        ext.prefix = { "${meta.id}_sniffles" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/unphased_sniffles" },
            mode: 'copy'
        ]
    }

    withName: 'SNIFFLES_TRIO' {
        ext.prefix = { "${meta.id}_trio" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/sniffles_trio" },
            mode: 'copy'
        ]
    }

    withName: 'BCFTOOLS_VIEW_GLNEXUS' {
        ext.prefix = { "${meta.id}_final_glnexus" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/glnexus" },
            mode: 'copy'
        ]
    }

    withName: 'BCFTOOLS_INDEX_GLNEXUS' {
        ext.prefix = { "${meta.id}_final_glnexus" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/glnexus" },
            mode: 'copy'
        ]
    }

    withName: 'LONGPHASE_PHASE'{
    ext.prefix = { "${meta.id}_longphase" }
    ext.args = {
        def presets = [
            ont: '--ont',
            pacbio: '--pb',
            hifi: '--pb'
        ]

        if (!params.sequencing_platform) {
            log.warn "[LONGPHASE_PHASE] No sequencing_platform specified, defaulting to --ont"
            return '--ont'
        }

        def preset = presets[params.sequencing_platform]

        if (!preset) {
            log.warn "[LONGPHASE_PHASE] Unknown platform '${params.sequencing_platform}', defaulting to --ont"
            return '--ont'
        }

        "${preset}"
    }
    publishDir = [
        path: { "${params.outdir}/${meta.id}/longphase" },
        mode: 'copy'
    ]

    }

    withName: 'LONGPHASE_HAPLOTAG'{
    ext.prefix = { "${meta.id}_haplotagged" }
    publishDir = [
        path: { "${params.outdir}/${meta.id}/haplotagged_bam" },
        mode: 'copy'
    ]

    }

    withName: 'SAMTOOLS_INDEX_HAPLOTAG' {
        ext.args = '--threads 10'
        cpus = 4
        publishDir = [
            path: { "${params.outdir}/${meta.id}/haplotagged_bam" },
            mode: 'copy'
        ]
    }



    withName: 'SPECTRE_CNVCALLER' {
        // ext.prefix = { "${meta.id}_spectre" }
        ext.args =  {"--sample-id=${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/spectre" },
            mode: 'copy'
        ]
    }

    withName: 'BCFTOOLS_SORT_SPECTRE' {
        ext.prefix = { "${meta.id}.wf_cnv" }
        ext.args = '-Oz --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/spectre" },
            mode: 'copy'
        ]
    }

    withName: 'HIFICNV' {
        ext.prefix = { "${meta.id}.hificnv" }
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/hificnv" },
            mode: 'copy'
        ]
    }


    withName: 'STRAGLR' {
        ext.prefix = { "${meta.id}_straglr" }
        errorStrategy = 'ignore'
        publishDir = [
            enabled: false
        ]

    }

    withName: 'TRGT_GENOTYPE' {
        ext.prefix = { "${meta.id}_trgt" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/str" },
            mode: 'copy'
        ]
    }

    withName: 'STRANGER' {
        ext.prefix = { "${meta.id}_annotated" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/str" },
            mode: 'copy'
        ]
    }

    withName: 'BCFTOOLS_SORT_STRAGLR' {
        ext.prefix = { "${meta.id}_straglr_sorted" }
        ext.args = '-Oz --write-index=tbi'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/str" },
            mode: 'copy'
        ]
    }


   withName: 'ANNOTSV_SNIFFLES' {
   label = 'process_high'
    containerOptions = {
            workflow.containerEngine == 'singularity' ?
            '--writable-tmpfs --bind $PWD --env HOME=$PWD --env TMPDIR=$PWD --env TMP=$PWD' :
            '--user root'
        }
    ext.args   = { meta.hpo_terms ? "-vcf 1 -genomeBuild GRCh38 -rankFiltering ${params.rankfiltering} -hpo '${meta.hpo_terms}'" : "-vcf 1 -genomeBuild GRCh38" }
    ext.prefix = { "${meta.id}_annotsv" }
    publishDir = [
        path: { "${params.outdir}/${meta.id}/annotsv_sniffles" },
        mode: 'copy'
    ]
    }

withName: 'ANNOTSV_SVIM' {
    label = 'process_high'
    containerOptions = {
            workflow.containerEngine == 'singularity' ?
            '--writable-tmpfs --bind $PWD --env HOME=$PWD --env TMPDIR=$PWD --env TMP=$PWD' :
            '--user root'
        }
    ext.args   = { meta.hpo_terms ? "-vcf 1 -genomeBuild GRCh38 -rankFiltering ${params.rankfiltering} -hpo '${meta.hpo_terms}'" : "-vcf 1 -genomeBuild GRCh38" }
    ext.prefix = { "${meta.id}_annotsv" }
    publishDir = [
        path: { "${params.outdir}/${meta.id}/annotsv_svim" },
        mode: 'copy'
    ]
    }

    withName: 'UNTAR_ANNOTSV' {
        publishDir = [
            path: { "${params.outdir}/annotsv_db" },
            mode: 'copy'
            ]
            }

    withName: 'ANNOTSV_INSTALLANNOTATIONS' {
        publishDir = [
            path: { "${params.outdir}/annotsv_db" },
            mode: 'copy'
            ]
            }

    withName: 'UNIFYVCF' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/unify_vcf" },
            mode: 'copy'
        ]
    }



}
