/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB'
    ]
}

params {
    // ========================================
    // MAIN ANALYSIS TOGGLES
    // ========================================
    input                       = "https://raw.githubusercontent.com/nf-core/test-datasets/longraredisease/samplesheet_ubam.csv"
    input_type                  = 'ubam'      // Skip alignment step if input BAM/CRAM files are already aligned
    sequencing_platform         = 'ont'   // Sequencing platform (e.g. 'ont', 'hifi', 'pacbio'). You can also define the parameters through the minimap2_model or winnowmap_model
    minimap2_model              = null
    use_winnowmap               = false  // Use Winnowmap for alignment instead of Minimap2
    winnowmap_model             = null
    haplotag_bam                = true
    trio_analysis               = false  // Enable trio analysis for SNV calling and phasing
    filter_targets              = false    // Enable filtering of alignments to target regions (e.g. for gene panels or exomes)
    targets_bed                 = null
    generate_bam_stats          = true       // Enable generation of BAM statistics
    generate_coverage_report    = true       // Enable generation of coverage statistics
    sv                          = true      // Enable structural variant calling
    merge_sv                    = true
    snv                         = true       // Enable SNV calling
    cnv                         = false    // Enable CNV calling - spectre for ont and hificnv for pacbio
    str                         = true      // Enable STR analysis
    qc                          = false      // Disable QC for CI (saves disk space)
    methyl                      = true       // Enable methylation calling
    fasta_file                  = "https://raw.githubusercontent.com/nf-core/test-datasets/longraredisease/genome_22/genome_22.fasta"
    straglr_bed                 = "https://raw.githubusercontent.com/nf-core/test-datasets/longraredisease/straglr/str.test.bed"
    trgt_bed                    = "https://raw.githubusercontent.com/nf-core/test-datasets/longraredisease/annotation_data/trgt_repeat_catalog.hg38.bed"
    chromosome_codes            = ['chr22']
    deepvariant_regions         = null
    annotate_sv                 = false
    unify_vcf                   = false
    annotate_sv                 = false
    annotsv_annotations         = null
    hificnv_exclude_bed         = "https://raw.githubusercontent.com/nf-core/test-datasets/longraredisease/hificnv/test.exclude.bed"
    hificnv_expected_cn_bed     = null // BED file with expected CNVs for HiFiCNV evaluation
    run_svanna                  = true
    annotate_clair3             = false
}
