params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

process {
    withName: 'MOSDEPTH_SUBWORKFLOW:MOSDEPTH' {
        ext.args = ''
    }

    withName: 'MOSDEPTH_SUBWORKFLOW:MOSDEPTH_COV' {
        ext.args = '-n --quantize 0:1:10:30:'
    }
}
