params {
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    // Pipeline feature flags
    sv                  = true
    snv                 = true
    cnv                 = false
    str                 = true
    methyl              = false
    qc                  = false
    sequencing_platform = 'ont'
    input_type          = 'bam'
    trio_analysis       = false

    // Required reference files
    fasta_file           = 'https://raw.githubusercontent.com/nf-core/test-datasets/longraredisease/genome_22/genome_22.fasta'
    sniffles_tandem_file = 'https://raw.githubusercontent.com/nf-core/test-datasets/longraredisease/annotation_data/sniffles_no_alt_analysis_set.trf.bed'
    straglr_bed          = 'https://raw.githubusercontent.com/nf-core/test-datasets/longraredisease/straglr/str.test.bed'

    // Optional files (null = not provided)
    hificnv_exclude_bed     = null
    hificnv_expected_cn_bed = null
    spectre_metadata        = null
    spectre_blacklist       = null
    annotsv_annotations     = null
    snpeff_db               = null
    svanna_db               = null
    winnowmap_kmers         = null
    variant_catalogue       = null
}

// Disable Nextflow reporting for faster tests
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}
