params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

process {
    withName: 'MERGE_SV:JASMINESV' {
        ext.prefix = { "${meta.id}_merged" }
        ext.args   = '--output_genotypes --keep_var_ids'
    }

    withName: 'MERGE_SV:FIX_HEADER_JASMINE' {
        ext.prefix = { "${meta.id}_fixed" }
    }

    withName: 'MERGE_SV:BCFTOOLS_SORT_JASMINE' {
        ext.prefix = { "${meta.id}_sorted" }
        ext.args   = '-Oz --write-index=tbi'
    }

    withName: 'MERGE_SV:BCFTOOLS_VIEW_JASMINE' {
        ext.prefix = { "${meta.id}_normalize" }
        ext.args   = '-Oz --write-index=tbi'
    }

    withName: 'MERGE_SV:BCFTOOLS_REHEADER_JASMINE' {
        ext.prefix = { "${meta.id}.final" }
    }

    withName: 'MERGE_SV:TABIX_JASMINE' {
        ext.prefix = { "${meta.id}.final" }
        ext.args   = '-f -p vcf'
    }
}
