params {
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    rankfiltering                = "3-5,NA"
    annotsv_annotations          = null
}

process {
    withName: 'ANNOTATE_SV:ANNOTSV_SNIFFLES' {
        ext.args   = { meta.hpo_terms ? "-vcf 1 -genomeBuild GRCh38 -rankFiltering ${params.rankfiltering} -hpo '${meta.hpo_terms}'" : "-vcf 1 -genomeBuild GRCh38 -rankFiltering '3-5,NA'" }
        ext.prefix = { "${meta.id}_annotsv" }
        containerOptions = { workflow.containerEngine == 'docker' ? '--user root' : '' }
    }
}
