params {
    spectre_metadata  = "https://raw.githubusercontent.com/nanoporetech/ont-spectre/master/spectre/data/hg38_metadata.mdr"
    spectre_blacklist = "https://raw.githubusercontent.com/nanoporetech/ont-spectre/master/spectre/data/hg38_blacklist_v1.0.bed"
}

process {
    withName: 'SPECTRE_CNVCALLER' {
        ext.args = { "--sample-id=${meta.id}" }
    }
}

aws {
    client {
        anonymous = true
    }
}
