params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    output_format              = 'html'
}

process {
    withName: 'SVANNA_PRIORITIZE' {
        ext.prefix        = { "${meta.id}_svanna" }
        ext.output_format = { params.output_format }
    }
}
