params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

process {
    withName: 'BAM2FASTQ:SAMTOOLS_MERGE' {
        ext.prefix = { "${meta.id}.merged" }
    }

    withName: 'BAM2FASTQ:SAMTOOLS_FASTQ' {
        ext.args = '-T MM,ML'
    }
}
