params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    straglr_bed                = 'https://raw.githubusercontent.com/nf-core/test-datasets/longraredisease/straglr/str.test.bed'
}

process {
    withName: 'STRAGLR' {
        ext.prefix = { "${meta.id}_straglr" }
    }
}
