params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

process {
    withName: 'METHYL:MODKIT_PILEUP' {
        ext.prefix = { "${meta.id}_methyl" }
    }

    withName: 'METHYL:MODKIT_PILEUP_CPG' {
        ext.args   = '--cpg'
        ext.prefix = { "${meta.id}_cpg.methyl" }
    }

    withName: 'METHYL:MODKIT_BEDGRAPH' {
        ext.args = '--bedgraph'
    }

    withName: 'METHYL:MODKIT_BEDGRAPH_CPG' {
        ext.args = '--cpg --bedgraph'
    }
}
